/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
/*ICONS*/
@import url('https://stackpath.bootstrapcdn.com/font-awesome/5.0.0/css/font-awesome.min.css');


*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --font-primary: "Raleway", serif ;
    --font-secundary: "Montserrat", serif ;
    --font-action: "Baloo 2", serif ;
}

.hamburguer{

    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 1rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1.5s;

}

.show-menu .hamburguer{

right: 17rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .50rem);
}

.show-menu #line2{
    transform: rotate(45deg) translate(-.2rem, .2rem);
}

.show-menu #line3{
    transform: rotate(-45deg) translate(-.3rem, -.50rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: #fff;
    font: var(--font-action);
    opacity: 0;

}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem orange; 
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1.2rem;
}

.show-menu .hamburguer:hover span{
    transition: 5s;
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh ;
    overflow: hidden;
    position: relative;
}
.image-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(10, 10, 10, 0.7)

}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*Cobrir nossa dive*/
    opacity: 0.5;
    animation: zoom 20s ;
}
@keyframes zoom {
    0%{
        transform: scale(1.3);

    }
    100%{
        transform: scale(1);
  
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 10%;
    right: 5%;
}
.banner h1{
    color: #f7f7f7;
    font-size: 3.5rem;
    font-family: var( --font-primary);
    font-weight: 550;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    animation: moveBanner 2s ;
}
.banner h2{
    font-family: var(--font-secundary);
    color: whitesmoke;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    animation: moveBanner 2.5s ;
}
.banner button{
    font-family: var(--font-action);
    font-size: 1.1rem ;
    text-transform: uppercase;
    color: #fff;
    background: #f46b45;  
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem;
    border: none;
    letter-spacing: 0.1rem;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 3s ;
}

.banner button:hover {
    transition-duration: 1s;
    opacity: 0.9;
}
@keyframes moveBanner {
    0%{
        transform: translateX(100rem) rotateY(-30deg);
    }
      100%{
        transform: translateX(0rem) rotateY(0);
    }
}

#slogan{
    font: var(--font-secundary);
    color: #fff;
    text-align: center;
    margin-top: 22%;
}
.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1.5s;
    
}

.show-menu .sidebar{
    right: 0;
}

.menu {
    position: absolute;
    top: 30%;
    right: 20%;
    transform: translate(.50%, .50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link {
    font-family: var(--font-action) ;
    font-size: 2rem;
    color: #555;
    transition: color 1s ;
}

.menu-link:hover{
    color: #4de8d1;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition:  background 3s;
}

.social-media i:hover{
    background: #F2994A;  
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem) ;
    row-gap: 2rem ;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}
.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}
.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5/ -1;
}
.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}
.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}
.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos{
    background-color: #e8e8e8;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 2rem;
    color: #4d4d4d;
    border-bottom: solid 3px #ffd105;
    margin-bottom: 3.5rem;

}

.conhecimento-header{
    display: flex;
    align-items: center;
}

.conhecimento-header i{
    font-size: 2.5rem;

}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-size: 1rem;
}

.conhecimento-img{
    grid-column: 7 / 11 ;
    grid-row: 3 / 6;
    width: 100%;
}

.conhecimento-img img{
    object-fit: cover;
    width: 100%;
}